body{
    background: url(https://coolbackgrounds.io/images/backgrounds/white/white-triangle-369b8d2d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }

.aboutme{
    border-radius: 50%;
    padding-top: 10px;
}

.text-center{
        color: darkblue;
    }

.bio{
    color: darkblue;
}


.container{
border: 5px ridge #3380A4;
border-radius: 10px 10px, 10px, 10px;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
}

.contact-info{
    
}

